# basic and cli
rich
typer
colorama

# system, input, hardware
keyboard
pynput
pyclip
sounddevice
comtypes; sys_platform == 'win32'

# network and api 
websockets
httpx

# data process
numpy
srt
rapidfuzz

# tray and image
pystray==0.19.5
Pillow

# build
pyinstaller
