# basic and cli
rich
typer
colorama

# system, input, hardware
keyboard
pynput
pyclip
sounddevice
comtypes; sys_platform == 'win32'

# network and api 
websockets
httpx

# data process
numpy
srt
rapidfuzz

# tray and image
pystray==0.19.5
Pillow
PySide6-Essentials==6.8.3
tomlkit==0.13.3
pywin32==312; sys_platform == 'win32'

# build
pyinstaller
